*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height:100%;
}
#page1{
    height:100vh;
    width:100vw;
    background-color: rgba(0, 0, 0, 0.966);
}
#navbar{
    display: flex;
    justify-content:space-between;
    color:white;
    padding: 2vw 4vw;
    word-spacing:0.2vw;
    letter-spacing: 0.2vw;
    font-size: 3vh;
    font-family: 'Lucida Sans Unicode';
}
#role{
    color:rgba(255, 255, 255, 0.644);
    font-size:5vw;
    font-weight:100;
    padding:2vw 3.5vw;
    word-spacing: 1.5vw;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pp{
    padding-left:10vw;
     line-height: 10vh;
}
#livin{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:25vw;
    padding-top: 1vw;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#nextthing{
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-right:2vw;
    text-align: right;
    line-height:1;
    padding-top:20vh;

}
#first{
    display: flex;
    flex-direction: column;
}
#first:hover{
  text-decoration: underline;
}
#gigs{
    padding-left:3vw;
    padding-top:4vh;
    display: flex;
    flex-direction: row;
    gap:20vw;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
@media (max-width:600px) {
#navbar{
    display: flex;
    justify-content:space-between;
    color:white;
    padding: 4vh 4vw;
    word-spacing:0.2vw;
    letter-spacing: 0.2vw;
    font-size: large;
    font-family: 'Lucida Sans Unicode';
}
.pp{
    padding-left:0vw;
     line-height: 10vh;
}
#role{
    color:rgba(255, 255, 255, 0.644);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size:8vw;
    font-weight:100;
    padding-top:10vh;
    word-spacing: 1.5vw;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#livin{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-left:0vw;
    padding-top: 2vh;
    font-size:2.2vh;
}
#nextthing{
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height:1;
    padding-top:10vh;
    font-size:2.2vh;

}
#gigs{
    padding-left:3vw;
    padding-top:8vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap:14vw;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#main{
    max-width: 100vw;
}
}