*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height:100%;
}
#page1{
    height:100vh;
    width:100vw;
    background-color:black;
}
#navbar{
    display: flex;
    justify-content:space-between;
    color:white;
    padding: 2vw 4vw;
    word-spacing:0.2vw;
    letter-spacing: 0.2vw;
    font-size: 3vh;
    font-family: 'Lucida Sans Unicode';
}
#role{
    color:rgba(255, 255, 255, 0.644);
    font-size:5vw;
    font-weight:100;
    padding:2vw 3.5vw;
    word-spacing: 1.5vw;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pp{
    padding-left:10vw;
     line-height: 10vh;
}
#livin{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:25vw;
    padding-top: 1vw;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#nextthing{
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-right:2vw;
    text-align: right;
    line-height:1;
    padding-top:20vh;

}
#first{
    display: flex;
    flex-direction: column;
}
#first:hover{
  text-decoration: underline;
}
#gigs{
    height:10vh;
    padding-left:3vw;
    padding-top:4vh;
    display: flex;
    flex-direction: row;
    gap:20vw;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#seconds{
    color: #fff;
    padding-right: 10vw;
    background-color: black;
    max-width: 100%;
    min-height: 100vh;
    padding-top:10vw;

}

.elem {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5.5vw 3vw;
    padding-right: 0;

    border-top: 1px solid #888;
}

.elem h1 {
    text-transform: uppercase;
    font-size: 7.6vw;
    opacity: .7;
}
.elem img {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
}
.skills-section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.marquee {
  width: 100%;
  overflow: hidden;
}

.track {
  display: flex;
  gap: 4vw;
  white-space: nowrap;
  color:aliceblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.track span {
  font-size: 4vw;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0.95;
  transition: all 0.9s ease;


}
.aboutmesec{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2vw;
    width:78%;
    padding-left: 20vw;
}
.ii{
    border-radius: 50%;                     
}
.myinfo{
    color:rgb(250, 248, 246);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.ee{
    padding-left: 4vw;
}
@media (max-width:600px) {
#navbar{
    display: flex;
    justify-content:space-between;
    color:white;
    padding: 4vh 4vw;
    word-spacing:0.2vw;
    letter-spacing: 0.2vw;
    font-size: large;
    font-family: 'Lucida Sans Unicode';
}
.ee{
    padding-top: 4vh;
    display: none;
}
.aboutmesec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:90%;
    padding-left: 20vw;
    gap:2vh;

}
.pp{
    padding-left:0vw;
     line-height: 10vh;
}
#role{
    color:rgba(255, 255, 255, 0.644);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size:8vw;
    font-weight:100;
    padding-top:10vh;
    word-spacing: 1.5vw;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#livin{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-left:0vw;
    padding-top: 2vh;
    font-size:2.2vh;
}
#nextthing{
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height:1;
    padding-top:10vh;
    font-size:2.2vh;

}
.track {
  display: flex;
  gap: 4vw;
  white-space: nowrap;
  color:aliceblue;
  height:20vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#gigs{
    padding-left:3vw;
    padding-top:8vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap:14vw;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#main{
    max-width: 100vw;
}
#page3{
    height:50vh;
    max-width:100%;
    background-color: black;
}
#page4{
    height:100vh;
    max-width:100%;
    background-color: black;
}
#page2{
    height:20vh;
    max-width:100%;
    background-color: black;
}
#page3{
    height:30vh;
    max-width:100%;
    background-color: black;
}
#page5{
    display: none;
    height:0vh;
    max-width: 100%;
    background-color: black;
}}
#page2{
    min-height:100vh;
    max-width:100%;
    background-color:black;
}
#page1{
    height:100vh;
    max-width:100%;
    background-color: black;
}
#page4{
    height:100vh;
    max-width:100%;
    background-color: black;
}
#page3{
    height:100vh;
    max-width:100%;
    background-color: black;
}
#page5{
    height:10vh;
    max-width: 100%;
    background-color: black;
}